#about {
    overflow-x: hidden;
    .trai {
        img#ab-img {
            width: 100%;
            overflow: hidden;
        }
    }
    h2.text-uppercase {
        font-family: 'Roboto Condensed', sans-serif;
        font-weight: 600;
    }
}