#portfolio {
    overflow-y: hidden;
}

#pf-content {
    text-align: center;
    &>p {
        font-family: 'Roboto Condensed', sans-serif;
    }
}

#btn-pf li {
    font-family: 'Roboto Condensed', sans-serif;
}

#pf-list-item {
    margin: 0 auto;
    &>.card {
        background-color: unset !important;
        width: 350px;
        height: auto;
        margin: 10px;
        border: 0;
        overflow: hidden;
        cursor: pointer;
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .75) !important;
        &:hover {
            .card-img {
                transform: scale(1);
            }
            .card-img-overlay {
                .card-title,
                .card-text {
                    transform: translateY(0);
                }
                .card-text {
                    opacity: 1;
                }
            }
        }
        .card-img {
            transform: scale(1.4);
            transition: .3s;
        }
        .card-img-overlay {
            background-color: rgba(34, 34, 34, 0.5);
            display: flex;
            flex-direction: column;
            justify-content: center;
            .card-title {
                font-size: 50px;
                text-transform: uppercase;
                transform: translateY(30%);
                transition: .3s;
            }
            .card-text {
                font-size: 20px;
                transform: translateY(130%);
                transition: .3s;
                opacity: 0;
            }
        }
    }
}